﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Entidades</h2>
        <p>
             Na terminologia do Entity Framework, um <b>conjunto de entidades</b> corresponde a uma <b>tabela</b>
            de banco de dados, enquanto <b>uma entidade </b> corresponde a  <b>uma linha na tabela</b>.
        </p>        
        
    </div>
    <div class="col-md-4">
        <h2>Dependency Injection</h2>
       <p>
             A injeção de dependência do ASP.NET Core é responsável por passar uma <b>instância de SchoolContext</b>
            para o controlador, <b>configurado no arquivo Startup.cs</b> anteriormente.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Async</h2>
       <p>
            Com um código <b>assíncrono</b>, quando um processo está <b>aguardando a conclusão da E/S</b>, 
            seu thread é liberado para o servidor para ser usado para processar outras solicitações. 
            Como resultado, o código assíncrono permite que os recursos do servidor sejam usados com mais eficiência,
            e o servidor fica capacitado a manipular mais tráfego sem atrasos.
        </p>
    </div>
    <div class="col-md-4">
        <h2>AsNoTracking Method</h2>
       <p>
            O método AsNoTracking melhora o desempenho em cenários em que as entidades retornadas não serão atualizadas
           no tempo de vida do contexto atual.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Atributo ValidateAntiForgeryToken</h2>
       <p>
           O atributo ValidateAntiForgeryToken ajuda a <b>impedir ataques CSRF</b> (solicitação intersite forjada). 
           O token é injetado automaticamente na exibição pelo FormTagHelper e é incluído quando o formulário é enviado pelo usuário.
           O token é validado pelo atributo ValidateAntiForgeryToken.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Informação</h2>
       <p>
           Construtores não podem executar um código assíncrono.
        </p>
    </div> 
    <div class="col-md-4">
        <h2>Operador de União de Nulo</h2>
       <p>
           Os dois pontos de interrogação representam o operador de união de nulo. 
           O operador de união de nulo define um valor padrão para um tipo que permite valor nulo; a expressão <i>(pageNumber ?? 1) </i>
           significa retornar o valor de pageNumber se ele tiver um valor ou retornar 1 se pageNumber for nulo.
        </p>
    </div> 
    <div class="col-md-4">
        <h2>Atributo ValidateAntiForgeryToken</h2>
       <p>
           Por padrão, o <b>Entity Framework</b> implementa transações de forma implícita. 
           Quando o método SaveChanges é chamado, o Entity Framework verifica automaticamente se todas as alterações tiveram <b>êxito ou se falharam</b>.
           Se algumas alterações forem feitas pela primeira vez e, em seguida, ocorrer um erro, essas alterações serão <b>revertidas automaticamente</b>.
        </p>
    </div> 
    <div class="col-md-4">
        <h2>Store Wins (Armazenamento Vence) - Simultaneidade</h2>
       <p>           
           Os valores do armazenamento de dados têm precedência sobre os valores enviados pelo cliente.
           Esse método garante que nenhuma alteração é substituída sem que um usuário seja alertado sobre o que está acontecendo.
        </p>
    </div> 
    <div class="col-md-4">
        <h2>Atributo Timestamp - RowVersion</h2>
       <p>           
           O atributo Timestamp especifica que a coluna será incluída na cláusula Where de comandos Update e Delete enviados ao banco de dados. 
           O atributo é chamado Timestamp porque as versões anteriores do SQL Server usavam um tipo de dados timestamp do SQL antes de o rowversion do SQL substituí-lo. 
           O tipo do .NET para rowversion é uma matriz de bytes.
        </p>
    </div> 
    <div class="col-md-4">
       <h2>Entidades podem estar em um dos seguintes estados</h2>
       <ul>
           <li><b>Added</b>. A entidade ainda não existe no banco de dados. O método SaveChanges emite uma instrução INSERT. </li>
           <li><b>Unchanged</b>. Nada precisa ser feito com essa entidade pelo método SaveChanges. Ao ler uma entidade do banco de dados, a entidade começa com esse status.</li>
           <li><b>Modified</b>. Alguns ou todos os valores de propriedade da entidade foram modificados. O método SaveChanges emite uma instrução UPDATE.</li>
           <li><b>Deleted</b>. A entidade foi marcada para exclusão. O método SaveChanges emite uma instrução DELETE.</li>
           <li><b>Detached</b>.  A entidade não está sendo controlada pelo contexto de banco de dados.</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Métodos UP e DOWN do EF</h2>
       <p>
           O método <b>Up</b> da classe InitialCreate cria as tabelas de banco de dados que correspondem aos conjuntos de entidades do modelo de dados, e o método <b>Down</b> exclui-as.
        </p>
    </div>  
    <div class="col-md-4">
        <h2>Atributo StringLength</h2>
       <p>
           O atributo MaxLength fornece uma funcionalidade semelhante ao atributo <b>StringLength</b>, mas não fornece a validação do lado do cliente.
        </p>
    </div> 
    <div class="col-md-4">
        <h2>Exclusão em cascata</h2>
       <p>
           Por convenção, o Entity Framework habilita a exclusão em cascata para chaves estrangeiras que não permitem valor nulo e em relações muitos para muitos.
           Isso pode resultar em regras de exclusão em cascata circular, que causará uma exceção quando você tentar adicionar uma migração. Por exemplo, se você não
           definiu a propriedade Department.InstructorID como uma propriedade que permite valor nulo, o EF configura uma regra de exclusão em cascata para excluir o
           departamento quando você exclui o instrutor, que não é o que você deseja que aconteça. Se as regras de negócio exigissem que a propriedade InstructorID
           não permitisse valor nulo, você precisaria usar a seguinte instrução de API fluente para desabilitar a exclusão em cascata na relação.
        </p>
    </div> 
</div>
